In [87]:
import pandas as pd 
import numpy as np
cancer = pd.read_csv('HEALTH_STAT_03092020141011281.csv')
cancer.head()

,VAR,Variable,UNIT,Measure,COU,Country,YEA,Year,Value,Flag Codes,Flags
0,CANCTOCA,Malignant neoplasms,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2002,2002,312.0,NaN,NaN
1,CANCTOCA,Malignant neoplasms,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2008,2008,314.1,NaN,NaN
2,CANCTOCA,Malignant neoplasms,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2012,2012,323.0,NaN,NaN
3,CANCCOLC,Malignant neoplasms of colon,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2002,2002,41.7,NaN,NaN
4,CANCCOLC,Malignant neoplasms of colon,PERCMTTX,Incidence per 100 000 population,AUS,Australia,2008,2008,38.7,NaN,NaN

In [ ]:
cancer

In [85]:
my_data=cancer[['Country','Variable','Year','Value']]

In [86]:
my_data

         Country                       Variable  Year   Value
0      Australia            Malignant neoplasms  2002   312.0
1      Australia            Malignant neoplasms  2008   314.1
2      Australia            Malignant neoplasms  2012   323.0
3      Australia   Malignant neoplasms of colon  2002    41.7
4      Australia   Malignant neoplasms of colon  2008    38.7
...          ...                            ...   ...     ...
2971    Colombia   Malignant neoplasms of colon  2012  5663.0
2972   Lithuania    Malignant neoplasms of lung  2012    26.2
2973   Lithuania   Malignant neoplasms of colon  2012    18.9
2974   Lithuania  Malignant neoplasms of cervix  2012   615.0
2975  Costa Rica    Malignant neoplasms of lung  2012     9.8

[2976 rows x 4 columns]